@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    background-color: white;
    padding: 0 40px 0 40px;
}

.marker-delete {
    list-style-type: none;
}

.underline-deleted {
    text-decoration: none;
}

.button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #000000;
    text-transform: uppercase;
}

.prime-header {
    background-color: #ffffff;
}

.header-navigation,
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-navigation-list {
}

.header-navigation-link {
    color: #000000;
    font-weight: 700;
    text-align: center;
}

.welcome-page {
    color: #000000;
    background-color: #85b7d2;
    background-image: url("../images/index_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.item-card {
    width: 230px;
    text-align: center;
}

.blue-card {
    background-color: #82b3d3;
}

.blue-gray-card {
    background-color: #83b3d31f;
}

.gray-card {
    background-color: #83b3d333;
}

.title-card {
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
}

.description-card {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.color-white {
    color: white;
}

.description-button-all {
    width: 376px;
    height: 52px;
    display: inline-block;
}

.newsletter-button {
    width: 232px;
    height: 52px;
}

.description {
    text-align: center;
}

.description-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: white;
}

.description-paragraph {
    font-size: 22px;
    line-height: 26px;
    color: white;
}

.description-image {
    color: #333333;
    background-color: #967768;
    background-image: url("../images/subscribe.jpg");
    background-repeat: no-repeat;

    background-size: cover;
    min-height: 415px;
}

.footer-contacts-phone {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
}

/* СТИЛИ ДЛЯ КАТАЛОГА */

.inner-header {
    color: #000000;
    background-color: #b0c5d6;
    background-image: url("../images/catalog_backgraund.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.filter-group-title,
.price-group-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}

.filter-group-item {
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
}

.catalog-navigation-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
}

.catalog-navigation-select,
.product-card-description-article {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #000000;
}

.pagination-link-black {
    color: #000000;
}

.color-price {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.3;
}

.rating-number-title {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
}

.subscription-title,
.subscription-paragraph {
    color: #000000;
}

.subscription-image {
    background-color: #ffffff;
}
